<footer class="wrapper">
    <section>
        <aside>
            <div class="row">
                <div class="column-3">
                    <h4>latest blog entries</h4>

                    <h5><time>12.01</time> We did a redesign...</h5>
                    <p>Gratuitous octopus niacin, sodium glutemate. Quote mean and estimate et non interruptus stadium</p>

                    <h5><time>12.01</time> Moving to a new server</h5>
                    <p>Gratuitous octopus niacin, sodium glutemate. Quote mean and estimate et non interruptus stadium</p>

                    <h5><time>12.01</time> We have a new client...</h5>
                    <p>Gratuitous octopus niacin, sodium glutemate. Quote mean and estimate et non interruptus stadium</p>
                </div>
                <div class="column-3">
                    <h4>recent comments</h4>

                    <h5><time>12.01</time> We did a redesign...</h5>
                    <p>Gratuitous octopus niacin, sodium glutemate. Quote mean and estimate et non interruptus stadium</p>

                    <h5><time>12.01</time> Moving to a new server</h5>
                    <p>Gratuitous octopus niacin, sodium glutemate. Quote mean and estimate et non interruptus stadium</p>

                    <h5><time>12.01</time> We have a new client...</h5>
                    <p>Gratuitous octopus niacin, sodium glutemate. Quote mean and estimate et non interruptus stadium</p>
                </div>
                <div class="column-3">
                    <h4>advertising</h4>
                    <ul class="large-block-grid-2">
                        <li><img src="smallad.jpg" alt="a small ad" /></li>
                        <li><img src="smallad.jpg" alt="a small ad" /></li>
                        <li><img src="smallad.jpg" alt="a small ad" /></li>
                        <li><img src="smallad.jpg" alt="a small ad" /></li>
                    </ul>
                </div>
                <div class="column-12">
                    <h4>tweeter stuff</h4>
                    <img src="tweet.jpg" alt="a bad ass tweet" />
                </div>
            </div>
        </aside>
    </section>
    
    <div class="row">
        <div class="column-5">
            <h6><span>wdim268</span> Copyright 2009. All rights reserved. Valid (x)HTML/CSS.</h6>
        </div>
        <div class="column-7">
            <nav>
                <ul>
                    <li>home</li>
                    <li>about</li>
                    <li>services</li>
                    <li>portfolio</li>
                    <li>blog</li>
                    <li>contact</li>
                    <li>prices</li>
                </ul>
            </nav>
        </div>
    </div>
</footer>