<footer class="wrapper">
    <div class="row">
        <div class="column-5">
            <h6><span>wdim268</span> Copyright 2009. All rights reserved. Valid (x)HTML/CSS.</h6>
        </div>
        <div class="column-7">
            <nav>
                <ul>
                    <li>home</li>
                    <li>about</li>
                    <li>services</li>
                    <li>portfolio</li>
                    <li>blog</li>
                    <li>contact</li>
                    <li>prices</li>
                </ul>
            </nav>
        </div>
    </div>
</footer>