<header>

<div class="header-box">
<div class="frame">
  <div class="row site-title">
    <div class="column-8 ">
      <h1><span>WDIM 268</span> Final project website</h1>
    </div>
    <div class="column-4">
      <img src="img/searchbar.png" alt="searchbox" />
    </div>
  </div>
</div>

</div>
<div class="header-box">
  <div class="frame">
    <div class="row">
      <div class="column-9">
        <nav class="main-nav">
          <ul class="nav-list">
            <li class="nav-item"><a href="index.html">home</a></li>
            <li class="nav-item"><a href="about.html">about</a></li>
            <li class="nav-item"><a href="#">services</a></li>
            <li class="nav-item"><a href="portfolio.html">portfolio</a></li>
            <li class="nav-item"><a href="blog.html">blog</a></li>
            <li class="nav-item"><a href="contact.html">contact</a></li>
            <li class="nav-item"><a href="pricing.html">pricing</a></li>
          </ul>
        </nav>
      </div>
      <div class="column-3">
        <p class="login"><a href="/">Login</a> or <span class="sign-up">sign up</span></p>
      </div>
    </div>
  </div>
</div>
</header>
