/**
 * Reset some basic elements
 */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HEADER */
header {
  @include background(linear-gradient(#dedede, #e4e4e3) top repeat);
}
.header-box {
  border-bottom: 1px solid #b3b3b3;
  padding: 10px 0;
}

.site-title {
  
  h1 {
    font-family: "Fertigo Pro", Helvetica, Arial, sans-serif;
    font-size: 2.2em;
  }
  
  img {
    float: right;
  }
}

.main-nav {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
  color: #848484;
  
  .nav-list {
    
    .nav-item {
      text-decoration: none;
      padding: 5.5px 11px;
      vertical-align: middle;
      display: inline-block;
      list-style: none;
      
      &:hover {
        border-top: 1px solid #28b0d2;
        background: #1f7bc1;
        background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#1f7bc1));
        background: -webkit-linear-gradient(top, #3e779d, #1f7bc1);
        background: -moz-linear-gradient(top, #3e779d, #1f7bc1);
        background: -ms-linear-gradient(top, #3e779d, #1f7bc1);
        background: -o-linear-gradient(top, #3e779d, #1f7bc1);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
        -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
        box-shadow: rgba(0,0,0,1) 0 1px 0;
        text-shadow: rgba(0,0,0,.4) 0 1px 0;
        color: #ffffff;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
}

.sign-up {
  border-top: 1px solid #28b0d2;
  background: #1f7bc1;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#1f7bc1));
  background: -webkit-linear-gradient(top, #3e779d, #1f7bc1);
  background: -moz-linear-gradient(top, #3e779d, #1f7bc1);
  background: -ms-linear-gradient(top, #3e779d, #1f7bc1);
  background: -o-linear-gradient(top, #3e779d, #1f7bc1);
  padding: 5.5px 11px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #ffffff;
  font-size: 14px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}
.sign-up:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}
.sign-up:active {
  border-top-color: #1b435e;
  background: #1b435e;
}


/* CENTER CONTENT */
.hero-box {
  @include background(radial-gradient(#36c2e3, #1d68a4) top repeat);
}

.main-content {
  @include background(linear-gradient(#d3d3d2, #fff) top repeat);
}


/* FOOTER */
footer {
  background-color: #4b4d4a;
}