/* Column System */

.frame {
  @include outer-container;
  width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
  
  .row {
    @include row();

    .column-1 {
      @include span-columns(1);
    }

    .column-2 {
      @include span-columns(2);
    }

    .column-3 {
      @include span-columns(3);
    }

    .column-4 {
      @include span-columns(4);
    }

    .column-5 {
      @include span-columns(5);
    }

    .column-6 {
      @include span-columns(6);
    }

    .column-7 {
      @include span-columns(7);
    }

    .column-8 {
      @include span-columns(8);
    }

    .column-9 {
      @include span-columns(9);
    }

    .column-10 {
      @include span-columns(10);
    }

    .columns-11 {
      @include span-columns(11);
    }

    .columns-12 {
      @include span-columns(12);
    }
  }
}